include LICENSE
include README.rst
include setup.py
include tox.ini
include requirements.txt
recursive-include hasoffers *
recursive-exclude hasoffers *.pyc
recursive-exclude hasoffers *.pyo
recursive-exclude docs *
recursive-exclude tests *
